{{ if (eq .ind "title") }}
{{ if (index .all `url`) }}
<a href="{{ index .all `url` }}">
  <em>
    {{- index .all .ind -}}
    {{- cond (eq (substr (index .all .ind) -1 1) ".") "" "." -}}
  </em>
</a>
{{ else }}
<em>
  {{- index .all .ind -}}
  {{- cond (eq (substr (index .all .ind) -1 1) ".") "" "." -}}
</em>
{{ end }}
{{ else }}
{{ if eq .ind "authors" }}
	{{ $authors :=  split (index .all .ind) ", " }}
	{{ range $key, $author := $authors }}
		{{ if not (eq $key 0) }}
		,
		{{ end }}
		{{ if in $author "*" }}
			<b>{{ substr $author 0 -1 }}</b>
		{{ else }}
			{{ $author }}
		{{ end }}
	{{ end }}
{{ else }}
	{{- index .all .ind -}}
{{ end }}
{{- cond (eq (substr (index .all .ind) -1 1) ".") "" "." -}}
{{ end }}
