{{ define "main" }}
<link rel="stylesheet" href="{{ `/css/w3.css` | relURL }}">
<h1 class="standard top-h1 mb-3 {{ if eq .Kind "term" }}font-italic{{ end }}">{{ if eq .Kind "term" }}#{{ end }}{{- .Title -}}</h1>
<div class="w3-row-padding">{{- .Content -}}</div>
<div class="w3-row-padding"> View posts in: <a style="color:blue" href="{{ .Site.BaseURL }}tenang">EN</a> | <a style="color:blue" href="{{ .Site.BaseURL }}tenang/id">ID</a> | 
<a style="color:blue" href="{{ .Site.BaseURL }}tenang/zh">ZH</a> | <a style="color:blue" href="{{ .Site.BaseURL }}tenang/ru">RU</a> </div>
<p></p>
{{ range $key, $val := (.Paginator 9).Pages.ByDate.Reverse }}
	{{ $baseName := .File.TranslationBaseName }}
	{{ $baseURL := .Site.BaseURL }}
	{{ if eq 0 ( mod $key 3 ) }}
	<div class="w3-row-padding">
		<div class="w3-third w3-container w3-margin-bottom">
			<a href="{{ .Permalink | relURL }}">
				<img src="/images/blog/{{- .Params.cover -}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
			</a>
			<div class="w3-container w3-white">
				<p></p>
				<p style="color:green"><b><a href="{{ .Permalink | relURL }}"> {{- .Title -}} </a></b></p>
				<p>{{- .Params.description -}}</p>
				<div>
					<div style="float:left; width:50%"><p style="font-size:10px">Date: {{ .Date.Format "2006-01-02" }} </p></div>
					<div style="float: left; width:50%">
						<p style="font-size:10px">
						Language: 
						{{ $lang := len .Params.languages }}
						{{ range $lkey, $lval := .Params.languages }}
							<a style="color:blue" href="{{ $baseURL }}tenang/{{ lower $lval }}/{{ $baseName }}">
							{{ $lval }} 
							</a>
							{{ if not (eq $lang (add $lkey 1)) }}
							|
							{{ end }}
						{{ end }}
						</p>
					</div>
				</div>
			</div>
		</div>
	{{ else if eq 2 ( mod $key 3 ) }}
		<div class="w3-third w3-container w3-margin-bottom">
			<a href="{{ .Permalink | relURL }}">
				<img src="/images/blog/{{- .Params.cover -}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
			</a>
			<div class="w3-container w3-white">
				<p style="color:green"><b><a href="{{ .Permalink | relURL }}"> {{- .Title -}} </a></b></p>
				<p>{{- .Params.description -}}</p>
				<div>
					<div style="float:left; width:50%"><p style="font-size:10px">Date: {{ .Date.Format "2006-01-02" }} </p></div>
					<div style="float: left; width:50%">
						<p style="font-size:10px">
						Language: 
						{{ $lang := len .Params.languages }}
						{{ range $lkey, $lval := .Params.languages }}
							<a style="color:blue" href="{{ $baseURL }}tenang/{{ lower $lval }}/{{ $baseName }}">
							{{ $lval }} 
							</a>
							{{ if not (eq $lang (add $lkey 1)) }}
							|
							{{ end }}
						{{ end }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ else }}
		<div class="w3-third w3-container w3-margin-bottom">
			<a href="{{ .Permalink | relURL }}">
				<img src="/images/blog/{{- .Params.cover -}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
			</a>
			<div class="w3-container w3-white">
				<p style="color:green"><b><a href="{{ .Permalink | relURL }}"> {{- .Title -}} </a></b></p>
				<p>{{- .Params.description -}}</p>
				<div>
					<div style="float:left; width:50%"><p style="font-size:10px">Date: {{ .Date.Format "2006-01-02" }} </p></div>
					<div style="float: left; width:50%">
						<p style="font-size:10px">
						Language: 
						{{ $lang := len .Params.languages }}
						{{ range $lkey, $lval := .Params.languages }}
							<a style="color:blue" href="{{ $baseURL }}tenang/{{ lower $lval }}/{{ $baseName }}">
							{{ $lval }} 
							</a>
							{{ if not (eq $lang (add $lkey 1)) }}
							|
							{{ end }}
						{{ end }}
						</p>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
{{ end }}
<div class="mt-4 d-flex justify-content-center">
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
