{{ define "main" }}
<div class="mb-3">
  <h1 class="top-h1" style="font-size: 2.75em">{{- .Title -}}</h1>
  <p class="mb-1">{{ .Date.Format "January 2, 2006" }}</p>
  <p>&mdash;</p>
</div>
<div>
	<p style="font-size:14px">
	{{ $baseName := .File.TranslationBaseName }}
	{{ $baseURL := .Site.BaseURL }}
	Read this post in: 
	{{ $lang := len .Params.languages }}
	{{ range $lkey, $lval := .Params.languages }}
		<a style="color:blue" href="{{ $baseURL }}tenang/{{ lower $lval }}/{{ $baseName }}">
		{{ $lval }} 
		</a>
		{{ if not (eq $lang (add $lkey 1)) }}
		|
		{{ end }}
	{{ end }}
	</p>
</div>
<div class="content">{{ .Content }}</div>
{{ partial "prevnext" . }}
{{ end }}
