<table>
{{ $params := .Params }} {{ range $key, $value :=  (slice "duration" "supervisor" "status" "remarks") }}
{{ if index $params $value }}

	<!-- line height determines space between rows -->
	<tr style="line-height: 18px;">
	{{ if eq $value "pi" }}
	<td style="float:left; width:100px; border:0; text-align:left;">PI:</td>
	{{ else }}
	<td style="float:left; width:100px; border:0; text-align:left;">{{ $value | humanize }}:</td>
	{{ end }}
	
	<td style="border:0; text-align:left;">{{ (index $params $value) | markdownify }}</td>
	</tr>
{{ end }}
{{ end }}
</table>